body {
    background-color: #ebebeb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line {
    background-color: #23356F;
    height: 10px;
    margin: auto;
}

.navbar {
    background-color: #23356F;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #EE3524;
}

.navbar-brand img {
    width: 20%;
}

.hero-image {
    background-image: url('../content/hero-image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: grid;
    place-items: center;
}

.inner-hero {
    background-color: #23356F;
    width: auto;
    text-align: center;
    color: white;
    padding: 20px;
}

.history-image {
    background-image: url('../content/history-image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: grid;
    place-items: center;
}

.inner-history {
    background-color: #23356F;
    width: auto;
    text-align: center;
    color: white;
    padding: 20px;
}

.current-state-image {
    background-image: url('../content/planned-parenthood.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: grid;
    place-items: center;
}

.inner-current-state {
    background-color: #23356F;
    width: auto;
    text-align: center;
    color: white;
    padding: 20px;
}

.non-profits-image {
    background-image: url('../content/nashville.webp');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: grid;
    place-items: center;
}

.inner-non-profits {
    background-color: #23356F;
    width: auto;
    text-align: center;
    color: white;
    padding: 20px;
}

.alert {
    background-color: #597B7C;
    color: white;
}

.goals {
    display: grid;
}

.goals hr {
    width: 110%;
}

.goals .line {
    width: 80%;
}

.goals p {
    padding: 20px;
}

.history {
    display: grid;
}

.history hr {
    place-self: center;
    width: 90%;
}

.history-text {
    width: 60%;
}

.row {
    padding: 50px;
}

.card {
    background-color: #597B7C;
}

.card-img-top {
    padding: 10px;
}

.abortion-map {
    display: grid;
    place-items: center;
}

.abortion-map img {
    width: 80%;
}

.current-text p {
    width: 80%;
}

.non-profits .card {
    background-color: white;
    margin: 10px;
    display: grid;
    place-items: center;
}

.non-profits img {
    height: 300px;
    width: 600px;
}

