body {
    background-color: #CDD3E1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #23356F;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #EE3524;
}

.navbar-brand img {
    width: 20%;
}

.hero-image {
    background-image: url('../content/hero-image.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    display: grid;
    place-items: center;
}

.inner-hero {
    background-color: #23356F;
    width: auto;
    text-align: center;
    color: white;
    padding: 20px;
}

.alert {
    background-color: #597B7C;
    color: white;
}

.goals {
    display: grid;
}

.goals hr {
    background-color: #23356F;
    height: 10px;
    width: 110%;
    place-self: center;
}
